{% extends 'base.html' %}

{% block content %}
{{block.super}}
<link rel="stylesheet" href="../static/style.css">
    <div class="contain-main col-12 d-flex m-auto justify-contain-center ">
        <div class="p row-6"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate possimus ullam perspiciatis cumque, ad provident voluptatem nam consequuntur explicabo fuga, iure veritatis non qui laborum incidunt? Assumenda adipisci sed non.</div>
        <div class="row-6">
            <img  class="img" src="../static/image/banner-shape-1 (1) (1).png" alt="image 1">
        </div>
    </div>



{% endblock %}