{% extends 'base.html' %}

{% block content %}

<div style="width: 50%; height: 500px; margin: auto;" class="pt-5">
    <h1>Movie Rating Form</h1>
<form method="post" action="{% url 'home' %}" >

    <!-- method er maje 2ta holo: 
    1. get : url e sob kichu dekha jai suggest kore.
    2. post :
    post dile kono kichu suggest kore nh. -->

    {% csrf_token %}
    <!-- Cross-Site Request Forgery (CSRF)  -->

    <div class="mb-3">
      <label for="exampleInputname" class="form-label">Nmae</label>
      <input type="text" class="form-control" id="exampleInputname" aria-describedby="nameHelp" name="username">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      </div>

      <select class="form-select" aria-label="Default select example" name="select">
        <option selected>Ratings</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 

 <h3>Name : {{name}} <br> Email :{{email}}</h3>
</div>

{% endblock %}